/* employee.component.css */
.container {
  text-align: left;
    max-width: 1200px;
    
  }
  .encabezado{
    text-align: center;
  }
  .error-message {
    color: red;
    padding: 10px;
    text-align: center;
  }
  table {
    width: 100%;
  }
  